.deps
*.o
*~
*.m4
autom4te.cache
compile
depcomp
install-sh
config.*
configure
chromium-bsu
chromium-bsu-config.h*
chromium-bsu-*/
chromium-bsu-*.tar.gz
Makefile
Makefile.in*
missing
*.gmo
*.pot
ABOUT-NLS
POTFILES
po/*.header
po/*.sed
po/*.sin
stamp-*
po/Makevars.template
po/Rules-quot
.tundra2.*
t2-output
