[submodule "3pp/freetype2"]
	path = 3pp/freetype2
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "3pp/zlib"]
	path = 3pp/zlib
	url = git://github.com/madler/zlib
[submodule "3pp/ftgl"]
	path = 3pp/ftgl
	url = git://github.com/deplinenoise/ftgl.git
[submodule "3pp/sdl"]
	path = 3pp/sdl
	url = git://github.com/spurious/SDL-mirror.git
